@import "tailwindcss";

@theme {
  --color-dota-dark: #0e0e0e;
  --color-dota-darker: #080808;
  --color-dota-surface: #1a1a1a;
  --color-dota-border: #2a2a2a;
  --color-dota-red: #c23b22;
  --color-dota-red-dark: #8b1a0a;
  --color-dota-gold: #c89b3c;
  --color-dota-gold-light: #f0c060;
  --color-dota-gold-dark: #8b6914;
  --color-dota-radiant: #3ec43e;
  --color-dota-dire: #c43e3e;
}
